.tab-pane{
-fx-tab-min-width:90px;
-fx-tab-max-height:30px;
}
.tab-header-background{
-fx-background-color:#3c3c3c;
}
.headers-region{
-fx-background-color:#3c3c3c;
}
.tab:hover .tab-label{
-fx-text-fill:#ffffff;
-fx-background-color:#3c3c3c;
-fx-text-fill:#ffffff;
-fx-font-size:12px;
-fx-font-weight:bold;
-fx-background-color:#3c3c3c;
}
.tab:hover{
-fx-background-color:#3c3c3c;
}
.tab:selected .tab-label{
-fx-text-fill:#ffffff;
-fx-font-size:12px;
-fx-font-weight:bold;
}
.tab{
-fx-background-color:#FFFFFF;
}
.tab:selected{
-fx-background-color:#3c3c3c;
}
.vbox{
-fx-background-color:#3c3c3c;
}
.label{
-fx-text-fill:#ffffff;
-fx-font-size:12px;
-fx-font-weight:bold;
}
.table-view{
-fx-background-color:#3c3c3c;
}
.column-header-background{
-fx-background-color:#3c3c3c;
}
.table-view .column-header{
-fx-background-color:transparent;
-fx-border-color:transparent;
-fx-padding:0.0em;
-fx-border-insets:0;
}
.table-view .table-cell{
-fx-text-fill:white;

-fx-background-color:#3c3c3c;
-fx-border-color:#ffffff;
-fx-font-size:12px;
-fx-font-weight:bold;
-fx-padding:0.0em;
-fx-border-insets:0;
}
.table-view .filler{
-fx-background-color:#3c3c3c;
}
.chart{
-fx-background-color:#3c3c3c;
}
.chart-legend{
-fx-background-color:transparent;
}
.chart-pie-label{
-fx-fill:white;
-fx-font-size:12px;
-fx-font-weight:bold;
}
.default-color0.chart-pie{-fx-pie-color:#ff0000}
.default-color1.chart-pie{-fx-pie-color:#b803ff}
.default-color2.chart-pie{-fx-pie-color:#ffd700}
.default-color3.chart-pie{-fx-pie-color:#0000ff}
.default-color4.chart-pie{-fx-pie-color:#30D5C8}
.default-color5.chart-pie{-fx-pie-color:#33cc66}
.accordion{
-fx-background-color:transparent;
-fx-text-fill:white;
-fx-font-size:12px;
-fx-font-weight:bold;
}
.progress-indicator{
-fx-progress-color:#00ff00;
}